/* Common */
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

.word-break {
  word-break: break-all;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.desc {
  color: #5f5b53;
}

.desc.lv1 {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.desc.lv2 {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.2rem;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* Header */
.header {
  background: #fffcf4;
}
.header .main-content .body .logo {
  cursor: pointer;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
  position: relative;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .sign-up-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* Hero */
.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}
/* Hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  vertical-align: bottom; /* dùng cách này để xóa bỏ khoảng trắng trong thẻ inline */
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/*  Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}
.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

.hero .watch-video {
  align-items: center;
  cursor: pointer;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

/* popular course list */

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .course-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .info {
  padding: 16px 22px 22px;
}

.popular .info .head {
  margin-bottom: 6px;
}

.popular .info .desc {
  margin-bottom: 12px;
}

.popular .info .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  padding-right: 6px;
}
.popular .info .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  width: 326px;
  line-height: 26px;
}

.popular .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular .rating .value {
  color: #fea31b;
  line-height: 1.75;
  font-size: 1.6rem;
  margin-left: 6px;
}

.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .foot .book-btn {
  border: none;
}
.popular .foot .book-btn:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: #fff;
}

/* Feed back */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-top: 4px;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot.active {
  background: #ffb900;
  cursor: default;
}

.feedback-item .dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #634700;
  margin-right: 6px;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* Features */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .image {
  display: flex;
  gap: 0 30px;
}

.features .image img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .image img:first-child {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .content .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  color: #fff;
}

.features .btn:hover {
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .image img {
  width: 470px;
  height: 440px;
}
/* Blog */

.blog {
  background: #fffcf4;
  margin-top: 135px;
  padding: 96px 0;
}

.blog-top {
  text-align: center;
}

.blog .blog-top .desc {
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
  width: 448px;
  margin: 16px auto auto;
}

.blog .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  overflow: hidden;
}

.blog .item {
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
  flex-shrink: 0;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-list .thumb {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  height: 250px;
  object-fit: cover;
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  position: relative;
}
.blog .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50%;
  background: var(--primary-color);
}

.blog .item .date::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .title a {
  display: inline-block;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog .item .btn {
  font-size: 1.4rem;
}

.blog .btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blog .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .dots .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* Footer */
.footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 22%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding: 0 48px 14px 0;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  border-bottom: 1px solid #59554b;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-weight: 600;
}

.footer .copyright {
  padding: 28px 0;
}

.footer .copyright p {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.85;
}
